global !p
def wrap_in_char(match, text):
	'''Function wraps text in matching characters or smartly matches brackets'''
	closing_brackets = {'(':')', '[':']', '{':'}'}

	if match in closing_brackets:
		return match + text + closing_brackets[match]
	else:
		return match + text + match
endglobal	

snippet "wi(.+)" "Wrap in matching character(s). Smartly wraps in brackets" rw
`!p snip.rv = wrap_in_char(match.group(1), snip.v.text.rstrip())` $0
endsnippet

