snippet func "Insert function" b
def $1($2):
	$0
endsnippet

snippet class "Insert class" b
class $1:
	def __init__(self$2):
		$0
endsnippet

snippet method "Insert method" b
def $1(self$2):
	$0
endsnippet

snippet py2 "Insert py 2 shebang" b
#!/usr/env/bin python
endsnippet

snippet py3 "Insert py 3 shebang" b
#!/usr/env/bin python3
endsnippet

